<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Find Requests</title>

    <!-- sets up angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- This is the only thing that works to make it pretty -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <body>
        <!-- make a navigation bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">NearBuy</a>
            </div>
          </div>
        </nav>

    <div ng-app="FindCtrl" ng-controller="FindController">
      <div class="jumbotron">
        <div class="container">
          <!-- Search instructions -->
          <h1>Find Requests</h1>
          <p> 
            This is where you can search places to fulfill requests from. Enter in city and state OR enter in the zipcode to find requests.
          </p>

          <!-- to search by city or state -->
        <form>
            <input type="text" placeholder="Enter in City" ng-model= "city" name="state" class="form-control" required>

            <label>State</label>
            <select id="state" name="state" ng-model="state" required>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            </select>

            <!-- this is the button to submit -->
            <button id="getResults" ng-click="submitCityState()">Find requests near me!</button>
        </form>

        <p></p>
        <p>OR</p>

        <form>
            <input type="text" placeholder="Enter in Zipcode" ng-model="zipcode" name="zipcode" class="form-control" required>

            <!-- this is the button to submit -->
            <button id="getResults" ng-click="submitZipcode()">Find requests near me!</button>
        </form>

        </div>
        </div>

            <!-- output the results below the jumbotron -->
      <div class="well" ng-repeat="request in searchResults">
        <h2>Name of business request</h2>
          <p><strong>Delivery Address</strong></br>
          {{ request.delivery_address }}</br>
          {{ request.delivery_city }}</br>
          {{ request.delivery_state }}</br>
          {{ request.delivery_zip }} </p>

          <p><strong>Requested Items</strong>
          <div ng-repeat="x in request.items">
              {{ x.name }}</br>
          </div>
          </p>

          <p><strong>Additional Notes</strong></br>
           {{ request.notes }}</br>
          </p>

          <p><strong>Offer: </strong> {{request.price }} </p>
          <!-- <p>
            {{ x.formatted_address }}
          </p>
          <p>
            {{ "Rating: " + x.rating }}
          </p> -->
        <form method="link" action="order.html">
          <input type="hidden" value="{{ x.id }}" name="business_id">
          <button type="submit">Order Here »</button>
        </form>
      </div>
    </body>

    <script type="text/javascript" src="../js/appRoutes.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/controllers/FindCtrl.js"></script>
</head>


