<!DOCTYPE html>
<html>

<!-- sets up angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsTAjge0lRGrWRkJvgDbH7s6-OFy7hnRo&libraries=places"></script> -->

  <head>
    <title>Choose a Role</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
<body>

  <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="../index.html" class="logo"><img src="images/logo.png" width="120" height="50"/></a>
          <nav id="nav">
            <a href="../index.html">Home</a>
            <a href="home.html">Roles</a>
            <a href="tracking.html">Track</a>
            <a href="manage.html">Manage Deliveries</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>


      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <header>
            <h1>Choose a Role</h1>
          </header>

          <div class="flex ">

            <div class="image">
              <center>
              <img src="images/delivery.png" alt="pic" width="180" height="180" /></br>
              <h3>I want to deliver products.</h3></br>
              <a href="find.html" class="button">Seller</a>
              </center>
            </div>

            <div>
              <center>
              <img src="images/cart.png" alt="pic" width="200" height="200" /></br>
              <h3>I want to order products.</h3></br>
              <a href="search.html" class="button">Buyer</a>
              </center>
            </div>

          </div>
        </div>
      </section>

<!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <div class="copyright">
            Copyright (c) 2016 NearBUY</br>
            Issues? Email us at nearbuy-support@nearbuy.com
          </div>

        </div>
      </footer>


  <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <!-- ANGULAR CUSTOM -->   
      <script type="text/javascript" src="../js/appRoutes.js"></script>    
      <script type="text/javascript" src="../js/app.js"></script>
  
  </body>
</html>
