<!DOCTYPE html>
<html>
<head>

<!-- sets up angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsTAjge0lRGrWRkJvgDbH7s6-OFy7hnRo&libraries=places"></script> -->

<!-- This is the only thing that works to make it pretty -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


<title>NearBuy - Ordering</title>

</head>
<body>

<!-- make a navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NearBuy</a>
    </div>
  </div>
</nav>
<p></p>
<div>
  <div class="jumbotron">
    <div class="container">


      <!-- Search instructions -->
      <h1>Order</h1>
      <p> 
        To order from this place enter in the list below.
      </p>
    </div>
  </div>

  <h3> Shopping list </h3>
  <p>Please enter in a shopping list below</p>

<div ng-app="OrderCtrl" ng-controller="OrderController" ng-init="list=[]">
    <input type="text" ng-model="newItem" placeholder="Enter in an item" required />
    <p><button ng-click="addItem()" class="btn btn-primary">Add</button></p>

  <ul>
    <li ng-repeat="item in list">
      <span>{{ item.name }}</span>
      <button type="button" class="btn btn-xs btn-danger" ng-click="deleteItem($index)">Remove</button>
      <!-- <span class="fa fa-close" ng-click="deleteItem($index)"></span> -->
    </li>
  </ul>

  <h3> Enter in a price </h3>
  <p>Please enter a price you are willing to pay for all these items</p>
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="price" required>
    <span class="input-group-addon">.00</span>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="updateTotal()">Update</button>
    </span>
  </div>

  <h3>Order Review</h3>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Item</th>
    </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in list">
        <td>{{ item.name }}</td>
      </tr>
      <tr>
        <td><strong>Total Cost: ${{ total }}</strong></td>
    </tbody>

  </table>

  <h3>Payment</h3>
  <p>Please enter payment details below. Used with square cash.</p>





</div>  

<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/appRoutes.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/controllers/OrderCtrl.js"></script>

</body>
</html>
