<!DOCTYPE html>
<html>
<head>

<!-- sets up angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsTAjge0lRGrWRkJvgDbH7s6-OFy7hnRo&libraries=places"></script> -->

<!-- This is the only thing that works to make it pretty -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


<title>NearBuy - Search</title>

</head>
<body>

<!-- make a navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NearBuy</a>
    </div>
  </div>
</nav>
<p></p>
<div ng-app="SearchCtrl" ng-controller="SearchController">
  <div class="jumbotron">
    <div class="container">

      <!-- Search instructions -->
      <h1>Search</h1>
      <p> 
        This is where you can search nearbuy places to order from. Remember to click on validate to ensure that the
        address you are entering is a valid address.
      </p>
      <form>

      <!-- this is to search topics -->
        <p><input type="text" placeholder="Search for places/things to buy" ng-model="keywords" class="form-control" ng-required="required"></p>

      <!-- this is to enter an address -->
        <p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter in an address" placeholder="Enter in an address" ng-required="required" ng-model="address" ng-change="change()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="verify()">Verify</button>
          </span>
        </div>
        </p>

        <!-- enter in a mile radius -->
          <p>
          Meter Radius:
          <select ng-model="radius" ng-required="required">
              <option value="100">100
              <option value="200">200
              <option value="300">300
          </select>
          </p>

        <!-- this is the button to submit -->
          <button id="getResults" ng-click="submit()">Find places near me!</button>
      </form>

      <!-- <p>
      <div class="alert alert-danger" role="alert" ng-show="notVerified">
        <strong>Changes have been detected please verify address!</strong>
      </div>
      </p> -->

    </div>
  </div>

  <!-- output the results below the jumbotron -->
  <div class="well" ng-repeat="x in searchResults">
    <h2>{{ x.name }}</h2>
      <p>
        {{ x.formatted_address }}
      </p>
      <p>
        {{ "Rating: " + x.rating }}
      </p>
    <a class="btn btn-default" href="#" role="button">Order Here »</a>
  </div>
</div>

<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/appRoutes.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/controllers/SearchCtrl.js"></script>
<script type="text/javascript" src="../js/services/SearchService.js"></script>

</body>
</html>
