<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://raw.githubusercontent.com/bettiolo/oauth-signature-js/master/dist/oauth-signature.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="app.js"></script>

<title>NearBuy - Search</title>

</head>
<body>
<div ng-app="nearBuy" ng-controller="searchCtrl">
  <div class="jumbotron">
    <div class="container">
      <h3>Search</h3>
      <form>

        <!-- this is to search topics -->
        <p><input type="text" placeholder="Search for places/things to buy" ng-model="keywords" class="form-control" ng-required="required"></p>

        <!-- this is to enter an address -->
        <p><input type="text" placeholder="Enter in an address" ng-model="address" class="form-control" ng-required="required"></p>

        <!-- enter in a mile radius -->
        <p>
        Mile Radius:
        <select ng-model="radius" ng-required="required">
            <option value="5">5
            <option value="10">10
            <option value="15">15
        </select>
        </p>

        <!-- this is the button to submit -->
        <button id="getResults" ng-click="submit()">Find places near me!</button>

      </form>

      <pre>keywords = {{keywords}}</pre>
      <pre>address = {{address}}</pre>
      <pre>radius = {{radius}}</pre>
    </div>
  </div>
</div>

<script src="app.js"></script>

</body>
</html>
